@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap');

h2, h1, h3{
  font-family: 'Sen', sans-serif;
  font-weight: 700;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #444;
  transition: all 0.2s;
}

body{
  padding: 30px;
  min-height: 100vh;
  display: flex;
  align-items: stretch;
  font-weight: 700;
  font-size: 15px;
  background-color: #fafafa;
}

//151929

.sidebar-container{
  padding: 20px;
  background-color: #f4f4f4;
  width: 100%;
  
  .sidebar-container__search{
    .search-input{
      all: unset;
    }
  }
  .sidebar-container__content{
    span.title{
      font-family: 'Sen', sans-serif;
    }
    .content-list{
      .content-list__item{
        span{
          background-color: #ebebeb;
          padding: 5px;
          border-radius: 5px;
        }
        &.active,&:hover{
          background-color: #ebebeb;
          span{
            color:#fff;
            background-color: #444;
          }
        }
      }
    }
  }
}


.sticky-container__main::-webkit-scrollbar {
  width: 10px;
}

.sticky-container__main::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

.sticky-container__main::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #444;
}
.sticky-container__main{
  padding: 30px;
  flex-grow: 1;
  overflow: auto;
  height: calc(100vh - 132px);
    
  .sticky-container__content{
    column-gap: 30px;
    row-gap: 30px;
    .sticky-notes{
      height: 300px;
      max-width: 300px;
      &.add{
        &:hover{
          box-shadow: inset 6 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
        }
      }
    }
  }
}